html{
	background: url('../img/pattern.jpg');
}
html, body, section{
	position: relative;
	height: 100%;
}
header{
	background-color: white;
	position: fixed;
	width: 100%;
}
#logo{
	float: left;
	margin-top:0;
}

ul{
	list-style-type: none;
	
}
li{
	float: right;
	padding-right: 25px;
}

section{
	background-color: white;
	width: 720px;
	margin: 30px auto;
	padding: 30px;
}
article a{
	text-decoration: none;
}

h1{
	text-align: center;
	padding-top: 30px;

}

#article-list{
	text-align: justify;
}
p{
	border-bottom: 2px solid black;
}
h5{
	text-align: center;
	color: white;
	background-color: black;
	line-height: 200%;
}